{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div class="" style="padding-top: 100px">
	<div style=" width: 300px ; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 10px; margin: auto;">
		<h3 style="text-align: center;" class="title">L o g i n</h3>
		<form method="post">
			{# {% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
			{% endif %} #}

			<!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
			<div style="margin: 0 0 16px">
				<label for="inputEmail" style="margin: 0 0 8px">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
					autocomplete="email" required autofocus>
			</div>
			<div style="margin: 0 0 16px">
				<label for="inputPassword" style="margin: 0 0 8px">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control"
					autocomplete="current-password" required>
			</div>
			<div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				Uncomment this section and add a remember_me option below your firewall to activate remember me
				functionality.
				See https://symfony.com/doc/current/security/remember_me.html

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me"> Remember me
					</label>
				</div>
				#}

				<button class="btn btn-primary btn-sm mt-1" type="submit">
					Sign in
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}